dialog{
  max-width: initial;
  max-height: initial;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  background-color:rgba(0,0,0, 0.3);
  display:flex;
  justify-content: center;
  border: none;
  padding: 2rem 1rem;
  perspective: 100vh;
  opacity: 0;
  pointer-events: none;
  transition:opacity .5s ease;

  &.error .dialog-container{
    background-color: rgb(182, 0, 0);
    color: white;
  }

  &.success .dialog-container{
    background-color: rgb(94, 220, 92);
    color: black;
  }

  &[open]{
    opacity: 1;
    pointer-events: all;
  }
  &[open] .dialog-container{
    transform: rotateX(0deg);
  }
}
.dialog-container{
  flex: 1;
  max-width: 30em;
  transform: rotateX(60deg);
  height:fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: .5em;
  transition:transform .5s ease;
}
.dialog-note{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;

  & svg{
    width: 2rem;
    aspect-ratio: 1;
  }
}
.dialog-btn-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  /*on quit game display yes & no*/
  &.quit-game :nth-child(1),
  &.quit-game :nth-child(2){
    display: block;
  }
  /*on displaying a note only display okay*/
  &.note :nth-child(3){
    display: block;
  }
  /*on victory display only play again button*/
  &.play-again :nth-child(4){
    display: block;
  }
  
}
.dialog-btn{
  display: none;
  width: 8rem;
  padding: 0.45rem 0rem;
  border: none;
  border-radius:100vw;
  cursor: pointer;
  transition:filter 0.15s ease;
  text-align: center;

  &:hover{
    filter: brightness(90%);
  }
  &.okay,
  &.play-again{
    margin-left: auto;
  }
}
@media (max-width:400px){
  .message-heading{
    font-size: 2rem;
  }
  .message-text{
    font-size: 1.4rem;
  }
}