:root{
  --dice-width:5rem;
  --dot-width:1.1rem;
  --value: calc((((var(--dice-width) - var(--dot-width)) / 2) - .5rem) * -1);
  --gap:calc(var(--dice-width) - (var(--dot-width) + 1rem));
  --gap-two:calc(var(--gap) / 2);
  --yellow-color : #eeef20;
  --green-color:#5b875a;
  --blue-color:#4895ef;
  --red-color:#d90429;
}
.dice-container {
  padding:2rem;
  background-color:black;
  border-radius:50%;
  position: absolute;
  border: 2px solid black;
  box-shadow: 0rem 0rem 0.5rem rgba(255,255,255,0.5);
}
.dice-container.red{
  top: 85%;
  left: 105%;
}
.dice-container.yellow{
  top: 0%;
  right: 105%;
}
.dice-container.blue{
  top: 85%;
  right: 105%;
}
.dice-container.green{
  top: 0%;
  left: 105%;
}
.dice-container::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.15s ease;
}
.dice-container.red::after{
  background-color:var(--red-color);
}
.dice-container.blue::after{
  background-color:var(--blue-color);
}
.dice-container.green::after{
  background-color:var(--green-color);
}
.dice-container.yellow::after{
  background-color:var(--yellow-color);
}
.dice-container.active::after{
  opacity: 0;
}
.dice-container.active.red{
  border-color: var(--red-color);
}
.dice-container.active.blue{
  border-color: var(--blue-color);
}
.dice-container.active.green{
  border-color: var(--green-color);
}
.dice-container.active.yellow{
  border-color: var(--yellow-color);
}
.dice-container.active .dice{
  cursor:pointer;
}
.dice {
  position: relative;
  width: var(--dice-width);
  aspect-ratio:1;
  transform-style: preserve-3d;
  transition: transform 1s ease; 
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border: 5px solid white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}

/*hide the inner part during scroll*/
.face::before{
  position:absolute;
  content:'';
  width:100%;
  height:100%;
  background-color:white;
  transform:translateZ(-0.1rem);
}
.face::after{
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  content : '';
  position:absolute;
  width:var(--dot-width);
  aspect-ratio:1;
  border-radius:50%;
  background-color:black;
}
i {
  margin: auto;
}

.front {
  transform: translateZ(2.5rem);
}

.back {
  transform: rotateX(180deg) translateZ(2.5rem);
}

.left {
  transform: rotateY(-90deg) translateZ(2.5rem);
}

.right {
  transform: rotateY(90deg) translateZ(2.5rem);
}

.top {
  transform: rotateX(90deg) translateZ(2.5rem);
}

.bottom {
  transform: rotateX(-90deg) translateZ(2.5rem);
}

@keyframes rolling {
  50% {
    transform: rotateX(460deg) rotateY(460deg);
  }
}
.right::after{
  margin-top:var(--value);
  margin-left:var(--value);
  box-shadow:var(--gap) var(--gap);
}
.back::after{
  margin-top:var(--value);
  margin-left:var(--value);
  box-shadow:var(--gap-two)  var(--gap-two) , var(--gap)  var(--gap);
}
.left::after{
  margin-top:var(--value);
  margin-left:var(--value);
  box-shadow:var(--gap)  0px , 0px var(--gap) ,var(--gap)  var(--gap);
}
.bottom::after{
  margin-top:var(--value);
  margin-left:var(--value);
  box-shadow:var(--gap)  0px , 0px var(--gap) ,var(--gap)  var(--gap) , var(--gap-two) var(--gap-two);
}
.top::after{
  margin-top:var(--value);
  margin-left:var(--value);
  box-shadow:var(--gap)  0px , 0px var(--gap) ,var(--gap)  var(--gap) , 0px var(--gap-two) , var(--gap) var(--gap-two);
}

@media(max-width:855px){
  :root{
    --dice-width:3rem;
    --dot-width:0.7rem;
  }
  .dice-container{
    padding: 1.4rem;
  }
}
@media (max-width:645px){
  :root{
    --dice-width:2.3rem;
    --dot-width:0.5rem;
  }
  .dice-container{
    padding: 1rem;
  }
}
@media (max-width:490px){
  :root{
    --dice-width:1.8rem;
    --dot-width:0.2rem;
  }
  .dice-container{
    padding: 0.8rem;
  }
}
@media (max-width:380px){
  :root{
    --dice-width:1.5rem;
    --dot-width:0.17rem;
  }
  .dice-container{
    padding: 0.8rem;
  }
}