:root{
  --primary-color:#003566;
  --yellow-color : #eeef20;
  --green-color:#5b875a;
  --blue-color:#4895ef;
  --red-color:#d90429;
  --border:0.7px solid black;
  --width-ludo:52rem;
  --player-container-width:3.4rem;
  --player-width:calc(var(--player-container-width) - .4rem);
  --box-shadow:0rem 0rem 0.5rem rgba(255,255,255,0.5);
}
.game-page{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
  z-index: 3;
  clip-path: inset(0 0 0 var(--screen-width));
  transition: clip-path 1s ease;
  color: black;
  opacity: 0;
  pointer-events: none;

  &.show{
    opacity: 1;
    pointer-events: all;
    clip-path: inset(0 0 0 0);
  }
   &::-webkit-scrollbar{
    display: none;
   }
}
/* header  */
header{
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px; 
  height: 5rem;
  background-color: white;
  box-shadow: 0rem 0.5rem 2rem rgba(var(--primary-color),0.3);
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
  z-index: 1;
}
nav{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-name{
  font-size:2.2rem;
  color: var(--primary-color);
  cursor: pointer;
}
ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap:1rem;
}
li{
  display: flex;
  align-items: center;
  gap: 0.2rem;
  width: 4rem;
  aspect-ratio: 1;
}
.game-container{
  min-height:calc(100vh - 5rem);
  min-height:calc(100svh - 5rem);
  background-color:var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding:1rem;
  overflow-y: auto;
}
.quit-game-btn{
  border: none;
  background-color:transparent;
  margin-right: auto;
  color: white;
  text-align: center;
  padding: .3rem 0rem;
  cursor: pointer;
  position: relative;
  font-size: 1.8rem;

  &::after{
    position: absolute;
    top:100%;
    left:50%;
    content:  '';
    width: 0%;
    height: .15rem;
    background-color: white;
    transition: width 0.3s ease , left 0.3s ease;
    pointer-events: none;
  }

  &:hover::after{
    width: 100%;
    left: 0%;
  }
}
.ludo-container{
  width:var(--width-ludo);
  height: var(--width-ludo);
  display: grid;
  grid-template-columns: repeat(15,calc(var(--width-ludo)/15));
  position: relative;
  box-shadow: var(--box-shadow);
}
.box{
  height:calc(var(--width-ludo)/15);
  background-color:white;
  border: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;

  &.star svg{
    transform: scale(2.5);
  }
}
.jail-container{
  grid-column: span 6;
  grid-row: span 6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.95rem;
}
.jail-container.yellow,
.box.yellow,
.player-container.yellow{
  background-color:var(--yellow-color);
}
.jail-container.green,
.box.green,
.player-container.green{
  background-color:var(--green-color);
}
.jail-container.blue,
.box.blue,
.player-container.blue{
  background-color: var(--blue-color);
}
.jail-container.red,
.box.red,
.player-container.red{
  background-color: var(--red-color);
}
.arrow-svg-container{
  width: fit-content;
  height: fit-content;
  scale: 0.8;

  &.yellow{
    rotate: 90deg;
  }

  &.red{
    rotate : -90deg;
  }

  &.green{
    rotate : 180deg;
  }
}
.jail{
  height: 100%;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2,var(--player-container-width));
  justify-content: space-between;
  align-items:center;
  padding:0rem 1rem;
  border:var(--border);
}
.player-container{
  aspect-ratio:1;
  border-radius: 50%;
  border: var(--border);
  display:flex;
  align-items:center;
  justify-content:center;
}
.home-container{
  position: relative;
  background-color: white;
  grid-column: span 3;
  grid-row: span 3;
  display:flex;

  & svg{
    width: 100%;
    height: 100%;
  }
}
.home-text{
  position: absolute;
  font-weight: 300;
  color: white;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  cursor: default;
  font-size: 1.5rem;

  &:nth-child(2){
    bottom: 85%;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
  }

  &:nth-child(3){
    top: 50%;
    left: 74%;
    transform:translate(0%,-50%) rotate(-90deg);
  }

  &:nth-child(4){
    top: 50%;
    right: 74%;
    transform:translate(0%,-50%) rotate(90deg);
  }

  &:nth-child(5){
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*players*/

.player{
  position:absolute;
  width:var(--player-width);
  height: var(--player-width);
  border-radius: 50%;
  cursor: pointer;
  transition: filter 0.15s ease ,left 0.15s ease , top 0.15s ease;
  display:flex;

  &:hover{
    filter: brightness(95%);
  }

  & svg{
    width: 100%;
    height: 100%;
  }

  &.done{
    animation: moveToBoard 2500ms ease forwards;
  }
}
/* dice styles  */

.roll-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);

  border-width: 0.1rem;
  border-style:solid;

  &.green{
    border-color: var(--green-color);
    left: 110%;
  }
  &.yellow{
    border-color: var(--yellow-color);
    right: 110%;
  }
  &.blue{
    border-color: var(--blue-color);
    top: 60%;
    right: 110%;
  }
  &.red{
    border-color: var(--red-color);
    top: 60%;
    left: 110%;
  }

  &::before{
    position: absolute;
    top: 50%;
    content: '';
    font-size:3rem;
  }

  &.point.green::before,
  &.point.red::before{
    content: '👈';
    left: 100%;
    animation: pointAnimationLeft 1.3s ease infinite;
  }

  &.point.yellow::before,
  &.point.blue::before{
    content: '👉';
    right: 100%;
    animation: pointAnimationRight 1.3s ease infinite;
  }
   
}
.user-picture{
  width:5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  & img{
    width: 100%;
    height: 100%;
  }
}
.user-name{
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}
.numbers{
  font-size:2rem;
  cursor:default;
}
.roll-btn{
  border: none;
  background-color: white;
  width: 5rem;
  padding:0.3rem 0rem;
  cursor: pointer;
  transition: filter 0.15s ease;
  box-shadow: 0rem 0rem 1rem rgba(0,0,0,0.5);

  &:hover{
    filter: brightness(97%);
  }
}
/*media queries*/
@media(max-width:955px){
  :root{
    --width-ludo:47rem;
    --player-container-width:3.2rem;
  }
  .home-text{
    font-size: 1.35rem;
  }
  .arrow-svg-container{
    scale: 0.5;
  }
  .box.star svg{
    transform: scale(2);
  }
  .numbers{
    font-size:1.8rem;
  }
  .roll-container::before{
    font-size: 2.5rem;
  }
  .roll-btn{
    width: 4.5rem;
    padding: 0.2rem 0rem;
    font-size: 1.3rem;
  }
  .user-picture{
    width: 4rem;
  }
  .quit-game-btn{
    font-size: 1.6rem;
  }
}
@media(max-width:850px){
  .site-name{
    font-size: 2rem;
  }
  :root{
    --width-ludo:35rem;
    --player-container-width:2.3rem;
  }
  .jail-container{
    padding: 2rem;
  }
  .home-text{
    font-size: 1rem;
  }
  .arrow-svg-container{
    scale: 0.3;
  }
  .box.star svg{
    transform: scale(1.5);
  }
  .roll-container{
    padding: .8rem 1.8rem;

    &::before{
      font-size: 2rem;
    }
  }
  .numbers{
    font-size:1.5rem;
  }
  .roll-btn{
    width: 4rem;
    padding: 0.15rem 0rem;
    font-size: 1.2rem;
  }
  .user-picture{
    width: 3rem;
  }
  .user-name{
    font-size: 1.5rem;
  }
  .quit-game-btn{
    font-size: 1.5rem;
  }
}
@media (max-width:675px){
  header{
    padding: 0rem 1.3rem;
  }
  .site-name{
    font-size: 1.8rem;
  }
  li{
    width: 3.5rem;
    font-size: 1.5rem;
  }
  :root{
    --width-ludo:27rem;
    --player-container-width:1.8rem;
  }
  .jail-container{
    padding: 1.4rem;
  }
  .home-text{
    font-size: 0.8rem;
  }
  .arrow-svg-container{
    scale: 0.3;
  }
  .box.star svg{
    transform: scale(1.2);
  }
  .roll-container{
    padding: .7rem 1rem;
    gap: .25rem;

    &::before{
      font-size: 1.5rem;
    }
  }
  .numbers{
    font-size:1rem;
  }
  .roll-btn{
    width: 3rem;
    padding: 0.1rem 0rem;
    font-size: 1rem;
    border-width: 0.1rem;
    font-size: .8rem;
  }
  .user-picture{
    width: 2.3rem;
  }
  .user-name{
    font-size: 1rem;
  }
  .quit-game-btn{
    font-size: 1.4rem;
  }
}
@media (max-width:490px){
  header{
    padding: 0rem .8rem;
  }
  .site-name{
    font-size: 1.65rem;
  }
  li{
    width: 3.2rem;
    font-size: 1.35rem;
  }
  :root{
    --width-ludo:22rem;
    --player-container-width:1.4rem;
  }
  .jail-container{
    padding: 1.2rem;
  }
  .home-text{
    font-size: 0.6rem;
  }
  .arrow-svg-container{
    scale: 0.25;
  }
  .box.star svg{
    transform: scale(1);
  }
  .roll-container{
    padding: .5rem .7rem;
    gap: .25rem;
    border-radius: .5rem;

    &::before{
      font-size:1rem;
    }
  }
  .roll-btn{
    width: 2.3rem;
    font-size:.7rem;
    border-width: 0.08rem;
  }
  .user-picture{
    width: 2rem;
  }
  .user-name{
    font-size: .8rem;
  }
  .quit-game-btn{
    border-bottom: .1rem solid white;
    font-size: 1.2rem;

    &::after{
      display: none;
    }
  }
}
@media (max-width:420px){
  header{
    height: 4rem;
  }
  .game-container{
    min-height:calc(100vh - 4rem);
    min-height:calc(100svh - 4rem);
  }
  .roll-container.point{
    &.green::before,
    &.red::before{
      top: 110%;
      left: 35%;
      content: '👆';
      animation: pointAnimationTopBottom 1.3s ease infinite;
    }

    &.yellow::before,
    &.blue::before{
      top: 110%;
      right: 35%;
      content: '👆';
      animation: pointAnimationTopBottom 1.3s ease infinite;
    }
  }
}
@media (max-width:370px){
  .roll-container{
    padding: .3rem .7rem;
    gap: .25rem;

    &.green{
      left: 105%;
    }
    &.yellow{
      right: 105%;
    }
    &.blue{
      right: 105%;
    }
    &.red{
      left: 105%;
    }
  }
  .numbers{
    font-size:1rem;
  }
  .roll-btn{
    width: 1.7rem;
    font-size:.5rem;
    border-width: 0.08rem;
  }
  .user-picture{
    width: 1.2rem;
  }
  .user-name{
    font-size: .7rem;
  }
  .quit-game-btn{
    font-size: 1rem;
  }
}
@media (max-width:350px){
  .roll-container::before{
    font-size: .8rem;
  }
}
/* animations  */
@keyframes pointAnimationLeft{
  50%{
    transform: translate(50%,0%);
  }
}
@keyframes pointAnimationRight{
  50%{
    transform: translate(-50%,0%);
  }
}
@keyframes pointAnimationTopBottom{
  50%{
    transform: translate(0%,-30%);
  }
}
@keyframes moveToBoard{
  30%{
    top :var(--current-top);
    left: var(--current-left);
  }
  100%{
    top :var(--board-player-top);
    left: var(--board-player-left);
  }
}